<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name" style="font-size:18px;">Hello Visitors!</p>
          <p class="designation" style="font-size:25px;">Welcome!</p>
        </div>
      </a>  
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">About Indian States</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/Delhi">Delhi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Bihar">Bihar</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/Hyderabad">Hyderabad</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/Gujarat">Gujarat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Chhattisgarh">Chhattisgarh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Assam">Assam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Himachal Pradesh">Himachal Pradesh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Karnataka">Karnataka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Jharkhand">Jharkhand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Kerala">Kerala</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/Madhya Pradesh">Madhya Pradesh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Maharashtra">Maharashtra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Manipur">	Manipur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Meghalaya">Meghalaya</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Mizoram">Mizoram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Nagaland">Nagaland</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Odisha">Odisha</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Punjab">Punjab</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Rajasthan">Rajasthan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Sikkim">Sikkim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tamil Nadu">Tamil Nadu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tamil Nadu">Tamil Nadu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Telangana">Telangana</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tripura">Tripura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Uttar Pradesh">Uttar Pradesh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/	Uttarakhand">Uttarakhand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/West Bengal">West Bengal</a>
          </li>
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Charts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <i class="menu-icon typcn typcn-bell"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/icons/font-awesome.html">
        <i class="menu-icon typcn typcn-user-outline"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>-->
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/login.html"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/register.html"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>